<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Empresa_SogDental.Properties.Settings.CONSULTORIOSOGDENTALConnectionString"
            connectionString="Data Source=DESKTOP-PP2RB31\SQLEXPRESS;Initial Catalog=CONSULTORIOSOGDENTAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Empresa_SogDental.Properties.Settings.ClinicaSogDentalConnectionString"
            connectionString="Data Source=DESKTOP-PP2RB31\SQLEXPRESS;Initial Catalog=ClinicaSogDental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>